
.containerAdmin{
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}
.contentFormAdmin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem ;
    
}
.contentTableAdmin{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem ;
}
.formPost{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: .5rem;
    border: 1px solid #aeb6bf;
    padding: 1rem 0;
    border-radius: 10px;
}
.formPost .leftForm{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.formPost .rightForm{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.formPost .boxForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 45%;
}
.checkbox{
  width: 1rem;
  height: 1rem;
}

.boxForm input{
    background: #e0e3e6;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     border: 1px solid #aeb6bf;
  }
  th,
  td {
    padding: 15px;
    color: #566573;
     border: 1px solid #aeb6bf;
  }
  th {
    text-align: left;
     border: 1px solid #aeb6bf;
  }
  thead th {
    color: #fff;
    background:   #b67e4e  ;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }
  .boxFormText{
    width: 90%;
  }
  .textarea{
    width: 100%;
    height: 5rem;
  }
  .action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .action-btn .btn-icon:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background:#f4d03f;
    cursor: pointer;
  }
  .action-btn .btn-icon:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background: #d35400 ;
    cursor: pointer;
  }
  .action-btn .btn-icon:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background: #2ecc71 ;
    cursor: pointer;
  }
  .action-btn .btn-icon:nth-child(2):hover{
    color: black;
  }
  .action-btn .btn-icon:nth-child(1):hover{
    color: #fff;
  }
  .action-btn .btn-icon:nth-child(3):hover{
    color: #fff;
  }
  .icon{
    width: 1.5rem;
    height: 1.5rem;
  }

  @media (max-width: 900px) {
    .formPost .boxForm{
      width: 100%;
  }
    .formPost{
      flex-direction: column;
    }
    .formPost .leftForm{
      width: 100%;
    }
  }