
.containerAdmin{
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}
.contentFormAdmin{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.contentTableAdmin{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: blue;
}
.formPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    border: 1px solid #aeb6bf;
    padding: 1rem;
    border-radius: 10px;
}
.formPost .boxForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.boxForm input{
    background: #e0e3e6;
}
.boxForm select{
    padding: .5rem .6rem;
}