.containerHead{
    width: 100%;
    padding: 1rem 3rem;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.contentSong{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
    background:#a9855d;
}
.contentSong.active{
    background: #f3b182;
}

.contentSong img {

    width: 100%;
    height: 100%;
    padding: 5px
}
.alert-box1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 11rem;
    height: 6rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    transition: 1s all ease;
    background: url('../assets/img/alert.png');
    background-size:contain;
    background-repeat: no-repeat;
    cursor: pointer;;
}
.alert-box1 p{
    position: absolute;
    bottom: 33%;
    left: 35%;
    font-size: 1.1rem;
    color:  #784212 ;
    font-weight: 700;
}
.alert-box1:nth-child(2){
    top: 11%;
}