.containerimageModal{
    width: 100%;
    height: 100%;
    padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.containerimageModal img{
    width: max-content;
    height: 100%;
    border-radius: 10px;
    border: 2px solid white;
}