.containerLogin{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/loginbg.jpeg');
    background-size: cover;
    background-position: center;
 
}
.containerLoginclose{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/close.jpeg');
    background-size: cover;
    background-position: center;
}
.containerLoginclose .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #784212;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 1s ;
}
.logout:hover{
    transform: scale(1.1);
}
.form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading{
    opacity: 1;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

input{
    opacity: 1;
    width: 80%;
    height: 35px;
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(245, 244, 244, 0.63);
    border: none;
    color:   #1c2833 ;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color:  #1c2833 ;
}

input:focus{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}



.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 17rem;
    height: 8rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    transition: 1s all ease;
    background: url('../assets/img/alert.png');
    background-size:contain;
    background-repeat: no-repeat;
}
.alert-box p{
    position: absolute;
    bottom: 25%;
    left: 15%;
    font-size: 1.1rem;
    color:  #784212 ;
    font-weight: 700;
}
.alert-box.active{
    top:0;
}
.backLogin{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .6rem .7rem;
    margin: 1rem;
}