.containerLogin{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/loginbg.jpeg');
    background-size: cover;
    background-position: center;
}
.form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading{
    opacity: 1;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

input{
    opacity: 1;
    width: 80%;
    height: 35px;
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(245, 244, 244, 0.63);
    border: none;
    color:   #1c2833 ;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color:  #1c2833 ;
}

input:focus{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}



.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}