@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');


.contentModal {
  position: absolute;
  top: 2rem;
  left: 2rem;
  bottom: 2rem;
  right: 2rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 2000;
  border: 5px solid #5d6d7e;
  font-family: 'Clicker Script';
}
.contentModal .imageModal {
  position: relative;
  width: 45%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}
.imageModal .imgModal{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.contentModal .textModal {
  position: relative;
  background:  #fad7a0 ;
  color: #eaecee;
  font-weight: 500;
  width: 55%;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  padding: 0px 1rem;
}
.headModal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: 25%;
  padding: 1rem;
  border-bottom: 1px solid white;
}
.headModal .titleModal{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.titleModal h1{
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Clicker Script',cursive;
}
.bodyModal{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
  padding: 1rem;
}
.bodyModal .submenuModal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 10%;
  width: 100%;
}
.submenuModal span{
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: #5d6d7e;
}
.submenuModal span:nth-child(2){
  border-left: 2px solid #5d6d7e;
  border-right: 2px solid #5d6d7e;
  padding: 0px 1rem;
}
.optinModel{
  width: 100%;
  height: 70%;
  padding: 0px 1rem;
}
.footerModal{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 15%;
}
.btnModal{
  width: 8rem;
  right: 0;
}

@media (max-width: 900px) {
  .contentModal {
    display: flex;
    flex-direction: column;
  }
  .contentModal .imageModal {
    width: 100%;
    height: 40vh;
    border-radius: 15px 15px 0px 0px;
  }
  .contentModal .textModal {
    width: 100%;
    height: 60vh;
    border-radius: 0px 0px 15px 15px;
  }
}
