.containerPost{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
.containerPost::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(to bottom, #1c0522,transparent);
    z-index: 1000;
}
.containerPost .mainPost{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.containerPost .contentPost{
    width: 100wh;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(5, 1fr));
    grid-template-rows: minmax(5,auto);
    padding: 2rem;
    grid-auto-flow: dense;
    color: aliceblue;
    gap: 1rem;
}
.contentPost .box{
    width: 15rem;
    height: 8rem;
}
.contentPost .box:nth-child(1){
    grid-column: span 5;
    width: 100%;
}
.contentPost .box:nth-child(2){
    grid-column: span 5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;
}
.contentPost .box:nth-child(3){
    grid-column: span 2;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 3rem;
}
.contentPost .box:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;

}

.contentPost .box:nth-child(8){
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding: 1rem;
}
.contentPost .box:nth-child(10){
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding: 1rem;
}

//span button

.chatBtn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #6cdde5 ;
    border: 1px solid black;
    cursor: pointer;
    padding-top: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    position: relative;
    background-size: 300%;
    background-position: left;
    transition-duration: 1s;
     animation: lightBox 1s ease-in-out forwards;
  }
  .runeImg{
    width: 100%;
    height: 100%;
  }

  .runeImg:hover{
    transform: scale(2);
  }
  @keyframes lightBox {
    0% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 10px 0px #fbfd7b8a, inset 0 0 10px #fbfd7b8a;
    }
  
    20% {
      border: 1px solid #ffffff1c;
      box-shadow: none;
    }
  
    30% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 20px 0px #fbfd7b8a, inset 0 0 15px #fbfd7b8a;
    }
  
    38% {
      border: 2px solid #ffffff1c;
      box-shadow: none;
    }
  
    45% {
      border: 2px solid #fbfd7b;
      box-shadow: 0 0 25px 0px #fbfd7b8a, inset 0 0 20px #fbfd7b8a;
    }
  
    50% {
      border: 2px solid #ffffff1c;
      box-shadow: none;
    }
  
    53% {
      border: 2px solid #fbfd7b;
      box-shadow: 0 0 15px 0px #fbfd7b8a, inset 0 0 25px #fbfd7b8a;
    }
  
    65% {
      border: 2px solid #ffffff1c;
      box-shadow: none;
    }
  
    100% {
      border: 2px solid #fbfd7b;
      box-shadow: 0 0 15px 0px #fbfd7b8a, inset 0 0 25px #fbfd7b8a;
    }
  }
  
  .tooltip {
    position: absolute;
    top: -40px;
    opacity: 0;
    background-color:  #f4d03f ;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .chatBtn:hover .tooltip {
    opacity: 1;
    transition-duration: .5s;
  }
  
  .chatBtn:hover {
    background-position: right;
    transition-duration: 1s;
  }

@media (max-width: 900px) {
   
  }
  